#header {
  background-image: url(images/header.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

#about {
  height: 75vh;
}

#contact_form {
  background-image: url(images/contact-form.png);
  background-color: #6070ff;
  background-repeat: no-repeat;
  background-position: center;
  height: 75vh;
}