#header {
  background-image: url(images/header.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

#about_me {
  height: 75vh;
  background-color: #fff;
}

#contact_form {
  background-image: url(images/contact-form.png);
  background-color: #6070ff;
  background-repeat: no-repeat;
  background-position: center;
  height: 75vh;
}

#work {
  background-color: #E5E5E5;;
}
